<%- include('./partials/head'); %> 
<%- include('./partials/nav'); %>    

<div class="form-center">  
  <h2 class="pt-5">Manage Credentials</h2>
  <h4 class="pt-5">Update Email</h4>
  <form method="POST" action="/credentials/updateEmail">
    <div class="form-group pt-2">
      <label for="email">Current Email address: <%=user.email %></label>
      <input type="email" class="form-control" id="email" aria-describedby="emailUpdate" placeholder="Update email" name='updated_email'>      
    </div>
    <div class="pt-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
   
</div>



<%- include('./partials/footer'); %> 
