<%- include('./partials/head'); %> 
<%- include('./partials/nav'); %>    

<div class="form-center">  
  <h1>An error occurred</h1>
  <p><%=error.message%></p>
</div>


<%- include('./partials/footer'); %> 